tutorial_heroes/.vscode/
tutorial_heroes/node_modules/
*.map
tutorial_heroes/app/mock-heroes.js
tutorial_heroes/app/main.js
tutorial_heroes/app/hero.js
tutorial_heroes/app/hero-detail.component.js
tutorial_heroes/app/hero.service.js
tutorial_heroes/debug.log
tutorial_heroes/app/app.module.js
tutorial_heroes/app/app.component.js
tutorial_heroes/npm-debug.log
tutorial_heroes/app/dashboard.component.js
tutorial_heroes/app/heroes.component.js
tutorial_heroes/app/in-memory-data.service.js
tutorial_heroes/app/hero-search.service.js
tutorial_heroes/app/hero-search.component.js
tutorial_heroes/app/rxjs-extensions.js
tutorial_heroes/app/app-routing.module.js
